/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import '../node_modules/font-awesome/css/font-awesome.min.css';

body {
  overflow: hidden;
}

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

app-half-circle-spinner .half-circle-spinner {
  margin: 100px auto;
}
